/*
!/.gitignore

###############################
# Un-ignore the affected subdirectory
!/plugins/
# Ignore subdirectory and all including directories and files to match pattern as valid for the next pattern
/plugins/*

!/plugins/digart/
/plugins/digart/*

!/plugins/digart/batiment/
###############################

# Dossier Thèmes
!/themes/
/themes/*
!/themes/demo/